.hero-beranda-wrapper{
  width:100%;
  height: 722px;
  padding-top:144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper{
    width:100%;
    height:722px;
    position: absolute;
    z-index: -4;
}

 .landing-hero-bg{
    width:100%;
    height:100%;
}

.card-beranda-hero{
    width: 657px;
    height: 410px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-beranda-hero > h1{
    font-weight: bold;
    font-size: 64px;
    color: #F5F5F5;
    text-align: center;
    height:300px;
}

.card-beranda-hero > p{
    width: 657px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #F5F5F5;
}

.card-beranda-hero > a{
    width: 200px;
    height: 44px;
    background: #FFAF00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.why-re4cash{
    width:1280px;
    margin:10em auto 5em auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}

.judul-why-re4cash{
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
}

.judul-why-re4cash > h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
}

.bottom-line{
    width: 100px;
    height: 5px;
    background: #0EA601;
    border-radius: 5px;
}

.judul-why-re4cash > p{
    width: 955px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.card-why-re4cash{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.card-info-re4cash{
    width: 384px;
    height: 384px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    }

.card-info-re4cash > img{
    width:100%;
    height:232px;
    border-radius: 10px 10px 0 0;
}

.word-card-re4cash{
    width: 344px;
    height:88px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.word-card-re4cash > h4{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.word-card-re4cash > p{
    width: 304px;
    text-align:left;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.pencapaian-re4cash{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: 440px;
    margin:5em 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
}

.list-informasi-pencapaian{
    width: 1070px;
    display:flex;
    justify-content: space-between;
}

.informasi-pencapaian{
    max-width: 278px;
    height: 132px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    padding:20px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.informasi-pencapaian:hover{
    border: 3px solid #FFAF00;
    border-radius: 10px;
}

.informasi-pencapaian > h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #FFAF00;
}

.informasi-pencapaian > h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
}

.mitra-kerjasama{
    width:90%;
    margin:7em auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:45px;
}

.mitra-kerjasama > h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #0D0E14;
}

.list-mitra-kerjasama{
    height: 185px;
}

.edukasi-landing-page{
    background-image: url("/landing-edukasi.svg");
    height: 720px;
    display:flex;
    flex-direction: column ;
    padding:8.5em;
    justify-content: space-between;
    margin:10em 0;
}

.right-edukasi-landing{
    text-align: right;
    margin-left: auto;
}

.right-edukasi-landing > h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #FFAF00;
}

.right-edukasi-landing > p{
    width: 615px;
    height: 210px;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #F5F5F5;
}

.right-edukasi-landing > .yellow-line{
    width: 176px;
    height: 5px;
    background: #FFAF00;
    border-radius: 5px;
    margin-left:auto;
}

.left-edukasi-landing{
    width: 710px;
    display:flex;
    justify-content: space-between;
}

.left-edukasi-landing > p{
    width: 585px;
    height: 84px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #F5F5F5;
}

.left-edukasi-landing > .iconify-hover{
    background: #FFAF00;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    color:black;
    cursor: pointer;
}

.iconify-hover > iconify-icon{
    animation: going-back .3s ease-in-out;
}

@keyframes going-back {
    0%{
        transform: translateX(140%);
        opacity:0.5;
    }
    100%{
        transform: translateX(0%);
        opacity:1;
    }
}

.iconify-hover:hover iconify-icon{
    animation: going-left .3s ease-in-out;
    transform: translateX(140%);
    opacity:0;
}

@keyframes going-left {
    0%{
        transform: translateX(0%);
        opacity:1;
    }
    100%{
        transform: translateX(140%);
        opacity:0.5;
    }
}

.menyiapkan-sampah{
    width:1260px;
    margin:0 auto;
    display:flex;
    margin-bottom:10em;
    justify-content: space-between;
}

.menyiapkan-sampah > img{
    margin-top: auto;
}

.menyiapkan-sampah > .right-menyiapkan-sampah{
    width: 719px;
    height: 485px;
    display:flex;
    flex-direction: column;
    text-align: right;
    gap:20px;
}


.right-menyiapkan-title > h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #FFAF00;
}

.right-menyiapkan-title > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #131212;
}

.step-by-step-menyiapkan{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:35px;
}

.content-menyiapkan-sampah{
    width: 337px;
    display:flex;
    gap:10px;
}

.number-menyiapkan{
    font-size:40px;
    color: #FFAF00;
}


.word-menyiapkan-sampah > h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: left;
}

.word-menyiapkan-sampah > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.02em;  
    color: rgba(0, 0, 0, 0.6);  
}

.kontak-kami-landing{
    background-image: url("/kontak-kami-hero.svg");
    width: 887px;
    height: 294px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:35px;
    padding-bottom:3em;
}

.kontak-kami-landing > h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #F5F5F5;
}


.artikel-hero{
    width:1260px;
    height: 522px;
    margin:3em auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.artikel-hero > h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    color: #000000;
}

.artikel-green-line{
    width: 100px;
    height: 5px;
    background: #0EA601;
    border-radius: 5px;
}

.artikel-hero-list{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.card-artikel{
    width: 280px;
    height: 439px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom:2em;
}

.card-artikel-bottom-judul{
    width: 248px;
    display:flex;
    flex-direction: column;
    gap:15px;
}

.card-artikel-bottom-judul > h5{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

.card-artikel-bottom-judul > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.artikel-jenis-tipe{
    width: 100%;
    height: 201px;
    display:flex;
    flex-direction: column;
    gap:5px;
}

.artikel-jenis-tipe > img{
    width:100%;
    height: 167px;
    border-radius: 10px 10px 0px 0px;
}


.judul-jenis-tipe{
    display:flex;
    justify-content:space-around;
}

.judul-jenis-tipe > h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}