.dashboard-page {
    display: flex;
    height: 100%;
}

.dashboard-page-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border-left: 1px solid #A8A8A8;
}

.wrapper-dashboard-utama {
    padding: 18px 33px 49px 33px;
}

.wrapper-section-dashboard-utama {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    margin-bottom: 35px;
}

.judul-tabel-dashutama>h3 {
    width: 150px;
}

.card-profil-dashboard-utama {
    display: flex;
    width: 459px;
    height: 240px;
    padding: 14px 20px;
    gap: 20px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    justify-content: center;
    align-items: center;

}

.card-profil-dashboard-utama.edit>iconify-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 6px 0px 0px;
    color: #F2A600;
}

.profile-picture-dashboard-utama {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-picture-dashboard-utama>p {
    font-weight: 400;
    font-size: 16px;
    color: #F2A600;
}

.profile-picture-dashboard-utama>h1 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.profile-desc-dashboard-utama {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;

    width: 179px;
    height: 176px;
}

.profile-desc-dashboard-utama-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.profile-desc-dashboard-utama-detail>h4 {
    font-weight: 400;
    font-size: 12px;
    margin: auto;
}

.profile-desc-dashboard-utama-detail>iconify-icon {
    font-size: 24px;
    color: #F2A600;
}

.prevtabel-dashutama {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.judul-tabel-dashutama {
    display: flex;
    gap: 339px;
}

.judul-tabel-dashutama>iconify-icon {
    color: #F2A600;
}

.wrapper-table-data-dashutama {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tabel-pengelola-dashutama {
    border-collapse: collapse;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    width: 504px;
}

#tabel-pengelola-dashutama tr th {
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}

#tabel-pengelola-dashutama tr td {
    /* text-align: center; */
    padding: 10px;
    font-weight: 400;
    font-size: 13.5px;
}

#tabel-pengelola-dashutama tr th {
    background-color: none;
}

table tr:nth-child(odd) {
    background-color: #F1F1F1;
}

#tabel-pengelola-dashutama th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

#tabel-pengelola-dashutama th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

.tabel-kolom-aksibutton-edithapus {
    display: flex;
    gap: 4px;
}