.wrapper-section-dashboard-profilakun {
    display: flex;
    width: fit-content;
    align-items: flex-start;
    gap: 17px;
}

.card-profil-dashboard-profilakun {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 368px;
    padding: 27px 32px;
    gap: 18px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    align-items: center;
}

.profile-detail-dashboard-profilakun {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.profile-nama-dashboard-profilakun {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-nama-dashboard-profilakun>h1 {
    font-weight: 700;
    font-size: 19.3px;
}

.profile-nama-dashboard-profilakun>p {
    font-weight: 400;
    font-size: 16px;
    color: #F2A600;
}

.profile-verif-dashboard-profilakun {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.profile-verif-dashboard-profilakun>iconify-icon {
    font-size: 1.8rem;
    color: #0EA601;
}

.profile-verif-dashboard-profilakun>h3 {
    font-weight: 700;
    font-size: 21px;
    color: #0EA601;
}

/* form update profile */

.sectionkanan-dashboard-profilakun {
    display: flex;
    flex-direction: column;
}

.card-formupload-dashpengelola-profilakun {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-form-dashpengelola-profilakun {
    width: 724px;
    height: 557px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.grup-form-dashpengelola-profilakun {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 32px;
}

.baris-form-dashpengelola-profilakun {
    display: flex;
    gap: 22px;
}

.baris-form-dashpengelola-profilakun>label {
    display: flex;
    width: 207px;
    height: 44px;
    justify-content: end;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
}

.baris-form-dashpengelola-profilakun>input {
    display: flex;
    width: 520px;
    height: 44px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;

    border: 1px solid #9C9C9C;
    border-radius: 3px;
    padding: 10px;
}

.button-form-dashpengelola-profilakun {
    display: flex;
    justify-content: end;
}

/* Verifikasi KTP dan NPWP */

.verfikasi-dashboard-profilakun {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.verfikasi-dashboard-profilakun>h3 {
    font-weight: 700;
    font-size: 21px;
    padding: 10px;
}

.verifikasi-isi-dashboard-profilakun {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.verifikasi-upload-dashboard-profilakun {
    display: flex;
    gap: 9px;
}

.verifikasi-uploadtitle-dashboard-profilakun {
    display: flex;
    flex-direction: column;
}

.verifikasi-uploadtitle-dashboard-profilakun>h5 {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
}

.verifikasi-uploadcard-dashboard-profilakun {
    background-color: #FFFFFF;
    width: 357px;
    height: 236px;
    border: 1px dashed #0EA601;
    border-radius: 5px;
}

.verifikasi-uploadcard-dashboard-profilakun>h4 {
    font-weight: 500;
    font-size: 19px;
    padding: 16px;
    border-bottom: 1px solid #EDEDED;
}

.verifikasi-uploadcard-isi-dashboard-profilakun {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.verifikasi-uploadcard-isi-dashboard-profilakun>img {
    width: 64px;
    height: 64px;
    margin-bottom: 28px;
}

.verifikasi-uploadcard-isi-dashboard-profilakun>h4 {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 12px;
    color: #0EA601;
}

.verifikasi-uploadcard-isi-dashboard-profilakun>p {
    font-weight: 400;
    font-size: 12px;
    color: #BEBEBE;
}