.wrapper-tabel-dashboard-kelolalapakpenjualan {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.wrapper-tabel-dashboard-kelolalapakpenjualan>h4 {
    font-weight: 500;
    font-size: 18px;
}

.judul-tabel-dashboard-kelolalapakpenjualan {
    display: flex;
    justify-content: space-between;
}

.judul-tabel-dashboard-kelolalapakpenjualan>Button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-button-tambahproduk {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabel-pengelola-kelolalapakpenjualan {
    border-collapse: collapse;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}


#tabel-pengelola-kelolalapakpenjualan tr th {
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}


#tabel-pengelola-kelolalapakpenjualan tr td {
    /* text-align: center; */
    padding: 10px;
    font-weight: 400;
    font-size: 13.5px;
}

#tabel-pengelola-kelolalapakpenjualan tr th {
    background-color: none;
}

table tr:nth-child(odd) {
    background-color: #F1F1F1;
}

#tabel-pengelola-kelolalapakpenjualan th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

#tabel-pengelola-kelolalapakpenjualan th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

.tabel-kolom-aksibutton-detailedithapus {
    display: flex;
    gap: 4px;
}