.tabungan-right-content{
    display:flex;
    flex-direction: column;
    gap:8px;
}

.container-halaman-tabungan{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    padding:32px 41px 40px 18px;
}