.custom-dd-container{
    user-select: none;
}

.dropdown-custom{
    padding: 13px 20px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    height: 44px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown-custom.actived{
    border: 1px solid #0EA601;
}

.arrow-rotation{
    transition: transform 300ms cubic-bezier(0.2, 0.64, 0.21, 1) 0s;
}

.db-option-custom{
    border: 1px solid #D6D6D6;
    filter: drop-shadow(0px 4px 29px rgba(0, 0, 0, 0.15));
    border-radius: 8px;
    background: #FFFFFF;
    position: absolute;
    width: 183.5px;
    overflow: hidden;
}

.db-option-custom > *{
    padding: 13px 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

.db-option-custom > *:hover{
    background: #FFDF99;
    border-radius: 15px;
}