.container-history{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 904px;
    padding: 23px 17px;
    display:flex;
    flex-direction: column;
    gap:16px;
}