.overlay-container {
  position: fixed;
  background: rgba(24, 24, 27, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  z-index: 10;
}

.form-login {
  position: fixed;
  width: 1000px;
  height: 550px;
  background: url("/login-bg.png"), #ffaf00;
  border-radius: 16px;
  z-index: 10;
}

.login-container {
  width: 698px;
  height: 100%;
  background: #f5f5f5;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px 0 0 16px;
}

.login-content {
  width: 400px;
  height: 511px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-content>input {
  width: 400px;
  height: 44px;

  background: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}

.login-content>p {
  font-weight: 400;
  font-size: 12px;
}

.login-content>p>span {
  text-align: justify;
  text-decoration-line: underline;
  color: #335abd;
}

.garis-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.garis {
  border: 2px solid #ffe19e;
  width: 120px;
  height: 0px;
}

.garis-content>p {
  width: 145px;
  margin: 0 10px;
  font-weight: 400;
  font-size: 16px;
  color: #606060;
}

.login-gf>button {
  width: 196px;
  height: 47px;

  background: #ffffff;
  border: 1px solid #0ea601;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.login-gf {
  display: flex;
  gap: 18px;
}

.login-content>h6 {
  font-weight: 400;
  font-size: 16px;
}

.login-content>h6>span {
  text-decoration-line: underline;

  color: #335abd;
}


/* Overlay Dropdown User */
.dd-user {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 3.5em;
  right: 4px;
  width: 236px;
}

.dd-profile-saya {
  display: flex;
  align-items: center;
  gap: 24px;
}

.dd-profile-saya>svg {
  color: #ffaf00;
  width: 72px;
  height: 72px;
}

.nama-poin-user {
  display: flex;
  flex-direction: column;
}

.nama-poin-user>h2 {
  font-weight: 700;
  font-size: 20px;
  color: #131212;
}

.nama-poin-user>h4 {
  font-weight: 400;
  font-size: 16px;
  color: #F2A600;
}

.nama-poin-user>span {
  font-weight: 400;
  font-size: 16px;
  color: #131212;
}

.dd-bot-user {
  display: flex;
  flex-direction: column;
  gap: 13px;
}


.option-bot-user {
  display: flex;
  gap: 16px;
  align-items: center;
}

.option-bot-user>iconify-icon {
  color: #F2A600;
  font-size: 24px;
}

.option-bot-user>h4 {
  font-weight: 400;
  font-size: 14px;
  color: #131212;
}

.option-bot-user.logout>* {
  color: #E40101;
}

.dd-pengelola {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 5rem;
  right: 45px;
  width: 236px;
  z-index: 2;
}

/* Edit Profile */
.container-edit-profile {
  width: 452px;
  height: 446px;
  background: #FFFFFF;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  align-items: center;
  gap: 24px;
}

.container-edit-profile>h1 {
  font-weight: 700;
  font-size: 28px;
}

.container-edit-profile>iconify-icon {
  position: absolute;
  font-size: 24px;
  top: 22.5%;
  left: 62%;
  cursor: pointer
}

.container-edit-profile>iconify-icon:hover {
  color: #E40101;
}

.input-edit-profile {
  width: 382px;
  height: 336px;
  border: 1px solid #F2A600;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  justify-content: space-around;
}

.input-edit-profile>input {
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  width: 350px;
  height: 44px;
  padding: 13px 20px;
  outline: none;
}

.input-edit-profile>button {
  align-self: center;
}

/* Overlay Alamat */
.container-modal-alamat {
  width: 814px;
  height: 420px;
  background: #FFFFFF;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container-modal-alamat>h1 {
  font-weight: 700;
  font-size: 28px;
  color: #131212;
}

.input-tambah-alamat {
  width: 740px;
  height: 314px;
  border: 1px solid #F2A600;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 16px;
}

.checkbox-set-alamat {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-set-alamat>span {
  font-weight: 400;
  font-size: 16px;
}

.tambah-alamat-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tambah-alamat-top>textarea {
  width: 708px;
  height: 93px;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  outline: none;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  padding: 13px 20px;
}


.alamat-input-2d {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
}

.alamat-input-2d>input {
  width: 350px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  padding: 13px 20px;
  outline: none;
  font-weight: 400;
  font-size: 16px
}

.tambah-alamat-top>button {
  align-self: center;
}

.container-modal-alamat>iconify-icon {
  position: absolute;
  top: 23%;
  font-size: 24px;
  left: 74.5%;
  cursor: pointer;
}

.container-modal-alamat>iconify-icon:hover {
  color: #E40101;
}

/* Overlay Metode Transaksi Tarik Point */
.model-tarik-point {
  width: 864px;
  height: 557px;
  background: #FFFFFF;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.model-tarik-point>h1 {
  font-weight: 700;
  font-size: 28px;
  color: #131212;
}

.option-metode-tarik-point {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 720px;
  height: 410px;
  align-items: center;
  padding: 16px 20px 22px 33px;
  overflow-y: scroll;
}

.option-metode-tarik-point::-webkit-scrollbar {
  width: 12px;
}

.option-metode-tarik-point::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 2px;
}


.option-metode-tarik-point::-webkit-scrollbar-thumb {
  background: #F2A600;
  border-radius: 2px;
}

/* Button Ubah */
.container-button-ubah {
  width: 344px;
  height: 186px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;

}

.button-ubah-tulisan {
  padding: 17px 21.5px 0px 21.5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.button-ubah-tulisan>h1 {
  font-weight: 700;
  font-size: 16.6px;
  text-align: center;
  color: #0ea601;
}

.wrapped-overlay-button-ubah {
  display: flex;
}

.tiru-overlay-button-batal {
  background-color: #D0D0D0;
  width: 172px;
  height: 67px;
  border-radius: 0px 0px 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.tiru-overlay-button-batal>h4 {
  color: #131212;
  font-weight: 400;
  font-size: 18px;
}

.tiru-overlay-button-ubah {
  background-color: #0EA601;
  width: 172px;
  height: 67px;
  border-radius: 0px 0px 12px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiru-overlay-button-ubah>h4 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
}