.card-profile-user{
    padding: 24px 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 594px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:33px;
}

.profile-name-picture{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.profile-name-picture > h1{
    font-weight: 700;
    font-size: 24px;
}

.profile-point{
    display: flex;
    align-items: center;
    gap:79px;
}

.profile-point >h3{
    font-weight: 400;
    font-size: 18px;
}

.profile-total-point{
    display:flex;
    font-weight: 500;
    align-items: center;
    font-size: 24px;
    color: #F2A600;
}


.profile-user-menu{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:8px;
}

.profile-left-navigation{
    padding: 8px;
    display:flex;
    gap:32px;
    align-items: center;
}

.profile-left-navigation > h4{
    font-weight: 400;
    font-size: 14px;
}

.profile-left-navigation > iconify-icon{
    font-size: 24px;
    color:#F2A600;
}

.profile-left-navigation > svg{
    color:#F2A600;
}

.profile-left-navigation.logout{
    color:#E40101;
}

.profile-left-navigation.logout > iconify-icon{
    color:#E40101;
}